p{
  font-family:Roboto, Arial;
}

.header{
  background-color: #1F2937;
  color: #F9FAF8;
  display:flex;
  flex-direction:column;
  padding:15px 200px 100px 200px;
  margin:0;
  position:absolute;
  left:0;
  top:0;
  right:0;
  row-gap: 100px;
}

.header-row1{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.header-links{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  column-gap:15px;
  font-size:18px;
  color: #a4a8af;
}

.header-row2{
	display:flex;
  flex-direction:row;
  justify-content: space-between;
  column-gap:170px;
}

.header-hero{
  display:flex;
  flex-direction:column;
  row-gap:0;
}

.header-pic-plho{
  width:750px;
  height:200px;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.header-su-button{
  width:120px;
  height:35px;
  margin:0;
  font-family:Roboto, Arial;
  border:0;
  font-size:16px;
  font-weight:500;
  color:white;
  background-color: #3882f6;
  border-radius:8px;
}

.info{
  display:flex;
  flex-direction:column;
  align-items: center;
  row-gap:0;
  width:100%;
  
}

.info-title{
  font-size:36px;
  font-weight:900;
  color:#1F2937;
}

.info-illustrations{
  display:flex;
  flex-direction:row;
  width:60%;
  justify-content: space-around;
}

.info-element{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  width:150px;
  margin-top:5px;
  
}

.info-empty-box{
  width:150px;
  height:150px;
  border-style:solid;
  border-color:#3882f6;
  border-width:5px;
  border-radius:16px;
}

.info-subtext{
  margin:5px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size:18px;
  color: #6a6b6c;
}